body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3411 {
  position:absolute;
  left:0px;
  top:70px;
}
#u3411_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:870px;
  background-image:none;
}
#u3411_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:870px;
}
#u3413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:870px;
}
#u3413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u3415 {
  border-width:0px;
  position:absolute;
  left:1749px;
  top:801px;
  width:27px;
  height:28px;
}
#u3415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u3416 {
  border-width:0px;
  position:absolute;
  left:1807px;
  top:801px;
  width:27px;
  height:28px;
}
#u3416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u3417 {
  border-width:0px;
  position:absolute;
  left:1861px;
  top:801px;
  width:27px;
  height:28px;
}
#u3417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3418_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:46px;
}
#u3418 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:798px;
  width:5px;
  height:31px;
}
#u3418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3411_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:870px;
  visibility:hidden;
  background-image:none;
}
#u3411_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:870px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
}
#u3419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:870px;
  font-size:72px;
}
#u3419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:394px;
  width:1916px;
  word-wrap:break-word;
}
#u3420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3421_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:46px;
}
#u3421 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:798px;
  width:5px;
  height:31px;
}
#u3421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:51px;
}
#u3422 {
  border-width:0px;
  position:absolute;
  left:1852px;
  top:11px;
  width:59px;
  height:51px;
  font-size:36px;
}
#u3422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u3423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:210px;
}
#u3423 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:603px;
  width:78px;
  height:210px;
}
#u3423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:59px;
}
#u3424 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:814px;
  width:175px;
  height:59px;
  font-size:28px;
}
#u3424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:171px;
  word-wrap:break-word;
}
#u3425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
}
#u3426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:59px;
}
#u3427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:569px;
  height:59px;
}
#u3427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:55px;
}
#u3428 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:10px;
  width:129px;
  height:55px;
  font-size:16px;
}
#u3428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u3429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:55px;
}
#u3429 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:10px;
  width:129px;
  height:55px;
  font-size:16px;
}
#u3429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u3430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:55px;
}
#u3430 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:10px;
  width:129px;
  height:55px;
  font-size:16px;
}
#u3430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u3431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:55px;
}
#u3431 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:10px;
  width:129px;
  height:55px;
  font-size:16px;
}
#u3431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u3432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:55px;
}
#u3432 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:10px;
  width:129px;
  height:55px;
  font-size:16px;
}
#u3432_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u3433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:55px;
}
#u3433 {
  border-width:0px;
  position:absolute;
  left:1437px;
  top:10px;
  width:129px;
  height:55px;
  font-size:16px;
}
#u3433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u3434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:55px;
}
#u3434 {
  border-width:0px;
  position:absolute;
  left:1603px;
  top:10px;
  width:129px;
  height:55px;
  font-size:16px;
}
#u3434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u3435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(209, 213, 222, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3435 {
  border-width:0px;
  position:absolute;
  left:1627px;
  top:102px;
  width:125px;
  height:31px;
  text-align:left;
}
#u3435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u3436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(209, 213, 222, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3436 {
  border-width:0px;
  position:absolute;
  left:1627px;
  top:71px;
  width:125px;
  height:31px;
  font-size:14px;
  text-align:left;
}
#u3436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u3437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:940px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:940px;
  width:1920px;
  height:940px;
}
#u3438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:538px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3439 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:1128px;
  width:521px;
  height:538px;
  font-size:20px;
}
#u3439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:257px;
  width:517px;
  word-wrap:break-word;
}
#u3440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:754px;
}
#u3440 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:1068px;
  width:687px;
  height:754px;
}
#u3440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3440_ann {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:1064px;
  width:1px;
  height:1px;
}
#u3441_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:46px;
}
#u3441 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:1832px;
  width:5px;
  height:31px;
}
#u3441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:82px;
}
#u3442 {
  border-width:0px;
  position:absolute;
  left:1643px;
  top:1740px;
  width:240px;
  height:82px;
  font-size:16px;
  color:#108EE9;
}
#u3442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:236px;
  word-wrap:break-word;
}
#u3443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3444 {
  border-width:0px;
  position:absolute;
  left:1783px;
  top:1713px;
  width:17px;
  height:17px;
  font-family:'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u3445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u3445 {
  border-width:0px;
  position:absolute;
  left:1784px;
  top:1679px;
  width:15px;
  height:17px;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u3446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3446 {
  border-width:0px;
  position:absolute;
  left:1634px;
  top:1616px;
  width:126px;
  height:114px;
}
#u3446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:122px;
  word-wrap:break-word;
}
#u3447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:940px;
  width:1920px;
  height:80px;
}
#u3448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u3449 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:953px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3450 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:953px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3451 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:953px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3452 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:953px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3453 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:953px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3454 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:953px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:68px;
}
#u3455 {
  border-width:0px;
  position:absolute;
  left:1536px;
  top:953px;
  width:216px;
  height:67px;
  font-size:36px;
}
#u3455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:212px;
  word-wrap:break-word;
}
#u3456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:940px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1880px;
  width:1920px;
  height:940px;
}
#u3457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:538px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3458 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:2068px;
  width:521px;
  height:538px;
  font-size:20px;
}
#u3458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:185px;
  width:517px;
  word-wrap:break-word;
}
#u3459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:754px;
}
#u3459 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:2008px;
  width:687px;
  height:754px;
}
#u3459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3459_ann {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:2004px;
  width:1px;
  height:1px;
}
#u3460_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:46px;
}
#u3460 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:2772px;
  width:5px;
  height:31px;
}
#u3460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:82px;
}
#u3461 {
  border-width:0px;
  position:absolute;
  left:1643px;
  top:2680px;
  width:240px;
  height:82px;
  font-size:16px;
  color:#108EE9;
}
#u3461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:236px;
  word-wrap:break-word;
}
#u3462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3463 {
  border-width:0px;
  position:absolute;
  left:1784px;
  top:2663px;
  width:17px;
  height:17px;
  font-family:'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u3464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u3464 {
  border-width:0px;
  position:absolute;
  left:1785px;
  top:2629px;
  width:15px;
  height:17px;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u3465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3465 {
  border-width:0px;
  position:absolute;
  left:1635px;
  top:2566px;
  width:126px;
  height:114px;
}
#u3465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:122px;
  word-wrap:break-word;
}
#u3466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1880px;
  width:1920px;
  height:80px;
}
#u3467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3468 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:1893px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3468_ann {
  border-width:0px;
  position:absolute;
  left:360px;
  top:1889px;
  width:1px;
  height:1px;
}
#u3469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u3469 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:1893px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3470 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:1893px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3471 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:1893px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3472 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:1893px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3473 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:1893px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:68px;
}
#u3474 {
  border-width:0px;
  position:absolute;
  left:1536px;
  top:1893px;
  width:216px;
  height:67px;
  font-size:36px;
}
#u3474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:212px;
  word-wrap:break-word;
}
#u3475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3475 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:2872px;
  width:300px;
  height:170px;
}
#u3475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u3476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1446px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3052px;
  width:1920px;
  height:1446px;
}
#u3477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:458px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3478 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:3629px;
  width:521px;
  height:458px;
  font-size:20px;
}
#u3478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:193px;
  width:517px;
  word-wrap:break-word;
}
#u3479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:294px;
}
#u3479 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:3629px;
  width:687px;
  height:294px;
}
#u3479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:82px;
}
#u3480 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:3951px;
  width:240px;
  height:82px;
  font-size:16px;
  color:#108EE9;
}
#u3480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:236px;
  word-wrap:break-word;
}
#u3481_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:43px;
  height:31px;
}
#u3481 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:3990px;
  width:28px;
  height:5px;
  color:#108EE9;
}
#u3481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3483 {
  border-width:0px;
  position:absolute;
  left:1792px;
  top:4087px;
  width:17px;
  height:17px;
  font-family:'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u3484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u3484 {
  border-width:0px;
  position:absolute;
  left:1793px;
  top:4053px;
  width:15px;
  height:17px;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u3485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3485 {
  border-width:0px;
  position:absolute;
  left:1643px;
  top:3990px;
  width:126px;
  height:114px;
}
#u3485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:122px;
  word-wrap:break-word;
}
#u3486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3052px;
  width:1920px;
  height:80px;
}
#u3487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3488 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:3065px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3489 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:3065px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3490 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:3065px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3491 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:3065px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3492 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:3065px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3493 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:3065px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u3494 {
  border-width:0px;
  position:absolute;
  left:1536px;
  top:3065px;
  width:216px;
  height:67px;
  font-size:36px;
}
#u3494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:212px;
  word-wrap:break-word;
}
#u3495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:82px;
}
#u3495 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:4043px;
  width:240px;
  height:82px;
  font-size:16px;
  color:#108EE9;
}
#u3495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:236px;
  word-wrap:break-word;
}
#u3496_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:43px;
  height:31px;
}
#u3496 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:4082px;
  width:28px;
  height:5px;
  color:#108EE9;
}
#u3496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4168px;
  width:1920px;
  height:330px;
}
#u3497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:446px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3142px;
  width:1920px;
  height:446px;
}
#u3498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3499 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:3425px;
  width:236px;
  height:41px;
}
#u3499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:232px;
  word-wrap:break-word;
}
#u3500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3500 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:3228px;
  width:245px;
  height:63px;
}
#u3500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:241px;
  word-wrap:break-word;
}
#u3501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3501 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:3228px;
  width:245px;
  height:63px;
}
#u3501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:241px;
  word-wrap:break-word;
}
#u3502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3502 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:3368px;
  width:594px;
  height:63px;
}
#u3502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:590px;
  word-wrap:break-word;
}
#u3503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:49px;
}
#u3503 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:4437px;
  width:664px;
  height:49px;
}
#u3503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:660px;
  word-wrap:break-word;
}
#u3504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u3504 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:4248px;
  width:300px;
  height:170px;
}
#u3504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3504_ann {
  border-width:0px;
  position:absolute;
  left:451px;
  top:4244px;
  width:1px;
  height:1px;
}
#u3505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3505 {
  border-width:0px;
  position:absolute;
  left:1494px;
  top:4272px;
  width:177px;
  height:146px;
}
#u3505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:173px;
  word-wrap:break-word;
}
#u3506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3506 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:4233px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3507 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:4300px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3508 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:4233px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3509 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:4367px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3509_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3510 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:4233px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3510_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3511 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:4300px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3512 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:4367px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3512_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3513 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:4300px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:200px;
}
#u3514 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:3215px;
  width:428px;
  height:200px;
}
#u3514_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3514_ann {
  border-width:0px;
  position:absolute;
  left:1634px;
  top:3211px;
  width:1px;
  height:1px;
}
