body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3551 {
  position:absolute;
  left:0px;
  top:70px;
}
#u3551_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:870px;
  background-image:none;
}
#u3551_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:870px;
}
#u3553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:870px;
}
#u3553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u3555 {
  border-width:0px;
  position:absolute;
  left:1749px;
  top:801px;
  width:27px;
  height:28px;
}
#u3555_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u3556 {
  border-width:0px;
  position:absolute;
  left:1807px;
  top:801px;
  width:27px;
  height:28px;
}
#u3556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u3557 {
  border-width:0px;
  position:absolute;
  left:1861px;
  top:801px;
  width:27px;
  height:28px;
}
#u3557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3558_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:46px;
}
#u3558 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:798px;
  width:5px;
  height:31px;
}
#u3558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3551_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:870px;
  visibility:hidden;
  background-image:none;
}
#u3551_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:870px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
}
#u3559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:870px;
  font-size:72px;
}
#u3559_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:394px;
  width:1916px;
  word-wrap:break-word;
}
#u3560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3561_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:46px;
}
#u3561 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:798px;
  width:5px;
  height:31px;
}
#u3561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:51px;
}
#u3562 {
  border-width:0px;
  position:absolute;
  left:1852px;
  top:11px;
  width:59px;
  height:51px;
  font-size:36px;
}
#u3562_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u3563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:210px;
}
#u3563 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:603px;
  width:78px;
  height:210px;
}
#u3563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:59px;
}
#u3564 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:814px;
  width:175px;
  height:59px;
  font-size:28px;
}
#u3564_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:171px;
  word-wrap:break-word;
}
#u3565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
}
#u3566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:59px;
}
#u3567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:569px;
  height:59px;
}
#u3567_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:55px;
}
#u3568 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:10px;
  width:129px;
  height:55px;
  font-size:16px;
}
#u3568_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u3569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:55px;
}
#u3569 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:10px;
  width:129px;
  height:55px;
  font-size:16px;
}
#u3569_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u3570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:55px;
}
#u3570 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:10px;
  width:129px;
  height:55px;
  font-size:16px;
}
#u3570_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u3571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:55px;
}
#u3571 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:10px;
  width:129px;
  height:55px;
  font-size:16px;
}
#u3571_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u3572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:55px;
}
#u3572 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:10px;
  width:129px;
  height:55px;
  font-size:16px;
}
#u3572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u3573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:55px;
}
#u3573 {
  border-width:0px;
  position:absolute;
  left:1437px;
  top:10px;
  width:129px;
  height:55px;
  font-size:16px;
}
#u3573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u3574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:55px;
}
#u3574 {
  border-width:0px;
  position:absolute;
  left:1603px;
  top:10px;
  width:129px;
  height:55px;
  font-size:16px;
}
#u3574_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u3575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(209, 213, 222, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3575 {
  border-width:0px;
  position:absolute;
  left:1627px;
  top:102px;
  width:125px;
  height:31px;
  text-align:left;
}
#u3575_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u3576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(209, 213, 222, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3576 {
  border-width:0px;
  position:absolute;
  left:1627px;
  top:71px;
  width:125px;
  height:31px;
  font-size:14px;
  text-align:left;
}
#u3576_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u3577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:940px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:940px;
  width:1920px;
  height:940px;
}
#u3578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:538px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3579 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:1128px;
  width:521px;
  height:538px;
  font-size:20px;
}
#u3579_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:257px;
  width:517px;
  word-wrap:break-word;
}
#u3580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:754px;
}
#u3580 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:1068px;
  width:687px;
  height:754px;
}
#u3580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3580_ann {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:1064px;
  width:1px;
  height:1px;
}
#u3581_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:46px;
}
#u3581 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:1832px;
  width:5px;
  height:31px;
}
#u3581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:82px;
}
#u3582 {
  border-width:0px;
  position:absolute;
  left:1643px;
  top:1740px;
  width:240px;
  height:82px;
  font-size:16px;
  color:#108EE9;
}
#u3582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:236px;
  word-wrap:break-word;
}
#u3583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3584 {
  border-width:0px;
  position:absolute;
  left:1783px;
  top:1713px;
  width:17px;
  height:17px;
  font-family:'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u3585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u3585 {
  border-width:0px;
  position:absolute;
  left:1784px;
  top:1679px;
  width:15px;
  height:17px;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u3586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3586 {
  border-width:0px;
  position:absolute;
  left:1634px;
  top:1616px;
  width:126px;
  height:114px;
}
#u3586_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:122px;
  word-wrap:break-word;
}
#u3587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:940px;
  width:1920px;
  height:80px;
}
#u3588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u3589 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:953px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3589_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3590 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:953px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3591 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:953px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3591_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3592 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:953px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3593 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:953px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3594 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:953px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:68px;
}
#u3595 {
  border-width:0px;
  position:absolute;
  left:1536px;
  top:953px;
  width:216px;
  height:67px;
  font-size:36px;
}
#u3595_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:212px;
  word-wrap:break-word;
}
#u3596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:940px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1880px;
  width:1920px;
  height:940px;
}
#u3597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:538px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3598 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:2068px;
  width:521px;
  height:538px;
  font-size:20px;
}
#u3598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:185px;
  width:517px;
  word-wrap:break-word;
}
#u3599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:754px;
}
#u3599 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:2008px;
  width:687px;
  height:754px;
}
#u3599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3599_ann {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:2004px;
  width:1px;
  height:1px;
}
#u3600_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:46px;
}
#u3600 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:2772px;
  width:5px;
  height:31px;
}
#u3600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:82px;
}
#u3601 {
  border-width:0px;
  position:absolute;
  left:1643px;
  top:2680px;
  width:240px;
  height:82px;
  font-size:16px;
  color:#108EE9;
}
#u3601_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:236px;
  word-wrap:break-word;
}
#u3602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3603 {
  border-width:0px;
  position:absolute;
  left:1784px;
  top:2663px;
  width:17px;
  height:17px;
  font-family:'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u3604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u3604 {
  border-width:0px;
  position:absolute;
  left:1785px;
  top:2629px;
  width:15px;
  height:17px;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u3605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3605 {
  border-width:0px;
  position:absolute;
  left:1635px;
  top:2566px;
  width:126px;
  height:114px;
}
#u3605_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:122px;
  word-wrap:break-word;
}
#u3606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1880px;
  width:1920px;
  height:80px;
}
#u3607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3608 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:1893px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3608_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3608_ann {
  border-width:0px;
  position:absolute;
  left:360px;
  top:1889px;
  width:1px;
  height:1px;
}
#u3609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u3609 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:1893px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3609_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3610 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:1893px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3611 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:1893px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3612 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:1893px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3613 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:1893px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:68px;
}
#u3614 {
  border-width:0px;
  position:absolute;
  left:1536px;
  top:1893px;
  width:216px;
  height:67px;
  font-size:36px;
}
#u3614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:212px;
  word-wrap:break-word;
}
#u3615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3615 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:2872px;
  width:300px;
  height:170px;
}
#u3615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u3616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1446px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3052px;
  width:1920px;
  height:1446px;
}
#u3617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:458px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3618 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:3629px;
  width:521px;
  height:458px;
  font-size:20px;
}
#u3618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:193px;
  width:517px;
  word-wrap:break-word;
}
#u3619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:294px;
}
#u3619 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:3629px;
  width:687px;
  height:294px;
}
#u3619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:82px;
}
#u3620 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:3951px;
  width:240px;
  height:82px;
  font-size:16px;
  color:#108EE9;
}
#u3620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:236px;
  word-wrap:break-word;
}
#u3621_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:43px;
  height:31px;
}
#u3621 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:3990px;
  width:28px;
  height:5px;
  color:#108EE9;
}
#u3621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3623 {
  border-width:0px;
  position:absolute;
  left:1792px;
  top:4087px;
  width:17px;
  height:17px;
  font-family:'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u3624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u3624 {
  border-width:0px;
  position:absolute;
  left:1793px;
  top:4053px;
  width:15px;
  height:17px;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u3624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u3625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3625 {
  border-width:0px;
  position:absolute;
  left:1643px;
  top:3990px;
  width:126px;
  height:114px;
}
#u3625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:122px;
  word-wrap:break-word;
}
#u3626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3052px;
  width:1920px;
  height:80px;
}
#u3627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3628 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:3065px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3628_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3629 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:3065px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3630 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:3065px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3630_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3631 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:3065px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3632 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:3065px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3633 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:3065px;
  width:177px;
  height:67px;
  font-size:36px;
}
#u3633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u3634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u3634 {
  border-width:0px;
  position:absolute;
  left:1536px;
  top:3065px;
  width:216px;
  height:67px;
  font-size:36px;
}
#u3634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:212px;
  word-wrap:break-word;
}
#u3635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:82px;
}
#u3635 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:4043px;
  width:240px;
  height:82px;
  font-size:16px;
  color:#108EE9;
}
#u3635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:236px;
  word-wrap:break-word;
}
#u3636_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:43px;
  height:31px;
}
#u3636 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:4082px;
  width:28px;
  height:5px;
  color:#108EE9;
}
#u3636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4168px;
  width:1920px;
  height:330px;
}
#u3637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:446px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3142px;
  width:1920px;
  height:446px;
}
#u3638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3639 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:3425px;
  width:236px;
  height:41px;
}
#u3639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:232px;
  word-wrap:break-word;
}
#u3640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3640 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:3228px;
  width:245px;
  height:63px;
}
#u3640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:241px;
  word-wrap:break-word;
}
#u3641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3641 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:3228px;
  width:245px;
  height:63px;
}
#u3641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:241px;
  word-wrap:break-word;
}
#u3642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3642 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:3368px;
  width:594px;
  height:63px;
}
#u3642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:590px;
  word-wrap:break-word;
}
#u3643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:49px;
}
#u3643 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:4437px;
  width:664px;
  height:49px;
}
#u3643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:660px;
  word-wrap:break-word;
}
#u3644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u3644 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:4248px;
  width:300px;
  height:170px;
}
#u3644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3644_ann {
  border-width:0px;
  position:absolute;
  left:451px;
  top:4244px;
  width:1px;
  height:1px;
}
#u3645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3645 {
  border-width:0px;
  position:absolute;
  left:1494px;
  top:4272px;
  width:177px;
  height:146px;
}
#u3645_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:173px;
  word-wrap:break-word;
}
#u3646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3646 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:4233px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3647 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:4300px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3648 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:4233px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3648_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3649 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:4367px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3650 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:4233px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3651 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:4300px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3651_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3652 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:4367px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:68px;
}
#u3653 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:4300px;
  width:177px;
  height:67px;
  font-size:16px;
}
#u3653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u3654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:200px;
}
#u3654 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:3215px;
  width:428px;
  height:200px;
}
#u3654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3654_ann {
  border-width:0px;
  position:absolute;
  left:1634px;
  top:3211px;
  width:1px;
  height:1px;
}
