body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2981 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:228px;
  width:700px;
  height:450px;
}
#u2981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2982 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:228px;
  width:700px;
  height:50px;
}
#u2982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:696px;
  word-wrap:break-word;
}
#u2983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2983 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:628px;
  width:700px;
  height:50px;
}
#u2983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u2984 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:637px;
  width:61px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u2984_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u2985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2985 {
  border-width:0px;
  position:absolute;
  left:1243px;
  top:637px;
  width:61px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2985_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u2986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2986 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:232px;
  width:40px;
  height:42px;
  font-size:20px;
}
#u2986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u2987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
}
#u2988 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:288px;
  width:92px;
  height:38px;
}
#u2988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:88px;
  word-wrap:break-word;
}
#u2989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2990 {
  position:absolute;
  left:645px;
  top:336px;
}
#u2990_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u2990_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u2991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u2991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2990_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u2990_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u2992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u2992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2993 {
  position:absolute;
  left:759px;
  top:336px;
}
#u2993_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u2993_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u2994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u2994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2993_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u2993_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u2995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u2995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2996 {
  position:absolute;
  left:872px;
  top:336px;
}
#u2996_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u2996_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u2997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u2997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2996_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u2996_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u2998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u2998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2999 {
  position:absolute;
  left:986px;
  top:336px;
}
#u2999_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u2999_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2999_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u2999_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3002 {
  position:absolute;
  left:1099px;
  top:336px;
}
#u3002_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3002_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3002_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3002_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3006 {
  position:absolute;
  left:645px;
  top:389px;
}
#u3006_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3006_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3006_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3006_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3009 {
  position:absolute;
  left:759px;
  top:389px;
}
#u3009_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3009_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3009_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3009_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3012 {
  position:absolute;
  left:872px;
  top:389px;
}
#u3012_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3012_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3012_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3012_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3015 {
  position:absolute;
  left:986px;
  top:389px;
}
#u3015_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3015_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3015_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3015_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3017_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3018 {
  position:absolute;
  left:1099px;
  top:389px;
}
#u3018_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3018_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3019_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3018_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3018_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3020_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3022 {
  position:absolute;
  left:645px;
  top:442px;
}
#u3022_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3022_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3022_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3022_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3025 {
  position:absolute;
  left:759px;
  top:442px;
}
#u3025_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3025_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3026_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3025_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3025_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3028 {
  position:absolute;
  left:872px;
  top:442px;
}
#u3028_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3028_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3029_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3028_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3028_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3030_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3031 {
  position:absolute;
  left:986px;
  top:442px;
}
#u3031_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3031_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3032_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3031_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3031_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3033_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3034 {
  position:absolute;
  left:1099px;
  top:442px;
}
#u3034_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3034_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3035_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3034_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3034_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3036_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3038 {
  position:absolute;
  left:645px;
  top:495px;
}
#u3038_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3038_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3039_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3038_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3038_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3040_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3041 {
  position:absolute;
  left:759px;
  top:495px;
}
#u3041_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3041_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3042_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3041_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3041_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3043_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3044 {
  position:absolute;
  left:872px;
  top:495px;
}
#u3044_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3044_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3045_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3044_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3044_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3046_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3047 {
  position:absolute;
  left:986px;
  top:495px;
}
#u3047_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3047_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3048_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3047_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3047_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3049_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3050 {
  position:absolute;
  left:1099px;
  top:495px;
}
#u3050_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3050_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3051_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3050_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3050_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3052_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3054 {
  position:absolute;
  left:645px;
  top:548px;
}
#u3054_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3054_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3055_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3054_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3054_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3056_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3057 {
  position:absolute;
  left:759px;
  top:548px;
}
#u3057_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3057_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3058_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3057_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3057_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3060 {
  position:absolute;
  left:872px;
  top:548px;
}
#u3060_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3060_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3061_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3060_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3060_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3062_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3063 {
  position:absolute;
  left:986px;
  top:548px;
}
#u3063_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3063_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3064_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3063_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3063_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3065_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3066 {
  position:absolute;
  left:1099px;
  top:548px;
}
#u3066_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background-image:none;
}
#u3066_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
}
#u3067_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3066_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u3066_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 106, 64, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#F86A40;
}
#u3068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:29px;
}
#u3069 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:555px;
  width:117px;
  height:29px;
  font-size:14px;
  color:#FF0000;
}
#u3069_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u3070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:937px;
}
#u3070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:937px;
}
#u3070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:38px;
}
#u3071 {
  border-width:0px;
  position:absolute;
  left:1706px;
  top:286px;
  width:71px;
  height:38px;
  color:#108DE9;
}
#u3071_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:67px;
  word-wrap:break-word;
}
#u3072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u3072 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:295px;
  width:5px;
  height:5px;
  color:#FF0000;
}
#u3072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
